body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #141e22;
  color: white;
  height: 100vh;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c2b30;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  position: relative;
  z-index: 20;
}

.logo {
  height: 60px;
  order: 1;
}

.user-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #00bcd4;
  cursor: pointer;
  position: absolute;
  right: 1%;
  bottom: 20%;
  transform: translateX(-50%);
  order: 2;
}

/* MENU */
.menu {
  display: none;
  gap: 24px;
  position: static;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
  padding: 5px 0;
}

.menu a.active,
.menu a:hover {
  color: #00bcd4;
  border-bottom: 2px solid #00bcd4;
}

/* Hamburger en popup menu */
.menu-toggle {
  display: none;
}

/* Profiel */
.profiel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.Profiel_foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #00bcd4;
  object-fit: cover;
}

.profiel p {
  margin-top: 10px;
  font-size: 18px;
  color: #ccc;
}

/* Buttons */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding: 0 20px;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  cursor: pointer;
  border: 2px solid rgb(0, 188, 212);
  font-family: "Bebas Neue";
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  width: 100%;
  max-width: 300px;
  height: 60px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgb(28, 43, 48) 0%, rgb(28, 43, 48) 100%);
  transition: all 0.3s ease;
}

.btn:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 188, 212);
  border-color: rgb(0, 188, 212);
}

/* DESKTOP styles */
@media (min-width: 769px) {
  .menu {
    display: flex;
  }

  .logo {
    height: 80px;
  }

  .user-icon {
    height: 50px;
    width: 50px;
    position: static;
    transform: none;
    display: flex;

  }

  .Profiel_foto {
    width: 150px;
    height: 150px;
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    padding: 0 20px;
  }

  .btn {
    width: 240px;
    height: 80px;
    font-size: 25px;
  }
}
